/*section fifth slider*/
.section-fifth-slider-container{
    max-width: 31.25rem;
    width: 50%;
}
.section-fifth-slider-card{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3125rem;
    overflow: hidden;
    perspective: 125rem;
    padding: 2.5rem;
}
.section-fifth-slider-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--standard-radius-sm);
    -webkit-box-shadow: 0.5rem 0.5rem 1.5rem 0 rgba(0, 0, 0, 1);
    -moz-box-shadow: 0.5rem 0.5rem 1.5rem 0 rgba(0, 0, 0, 1);
    box-shadow: 0.5rem 0.5rem 1.5rem 0 rgba(0, 0, 0, 1);
} 

.section-fifth-slider-img{
    width: 3.75rem;
    height: 9.375rem;
    cursor: pointer;
    transition: 1s ease;
    transform: perspective(10cm) rotateY(15deg) scale(1);;
    transform-style: preserve-3d;
}

.section-fifth-slider-active{
    width: 8.25rem;
    height: 13.625rem;
    transform: rotate(0deg);
}

.section-fifth-slider-text{
    margin-top: auto;
    padding: 1.8rem;
}