body{
    background-color: aliceblue;
    margin:0;
    padding:0;
}
.section1{
    height: auto;
    background-color: var(--standard-blue-dark);
    color: var(--standard-white);
    padding: var(--standard-size-lg);
    font-family:'MyCustomFont', Helvetica, Arial, sans-serif;
    font-size: 3rem;
    margin:0;
}

.section1 h1{
    font-weight:lighter;
    margin: 0;
    padding-bottom: var(--standard-size-sm);
}

.testi, .testi p{
    margin: 0;
    padding-right: var(--standard-size-lg);
    font-size: 2.9375rem;
    color: var(--standard-gray-light);
}

.voci:hover{
    background: linear-gradient(90deg, rgba(0,223,255,1) 0%, rgba(0,255,240,1) 30%, rgba(0,255,147,1) 50%, rgba(9,150,35,1) 74%, rgba(0,69,255,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

