/*section fifth slider*/
.section-fifth-slider-container{
    max-width: 500px;
    width: 50%;
}
.section-fifth-slider-card{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    overflow: hidden;
}
.section-fifth-slider-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--standard-radius-sm);
} 

.section-fifth-slider-img{
    width: 60px;
    height: 150px;
    cursor: pointer;
    position: relative;
    transition: 0.7s ease;
}

.section-fifth-slider-active{
    width: 132px;
    height: 218px;
}