.section-second-rules{
    display: flex;
    justify-content: center;
    width: 100vw;
}
.section-second-container{
    display: flex;
    background-color: white;
    flex-direction: column;
}
.section-second-vd-lg{
    margin-bottom: 1rem;
}

.section-second-cards{
    display: flex;
    flex-direction: row;
}

.section-second-register, .section-second-vd-sm{
    margin-right: 1rem;
}

#section-second-vd-lg, #section-second-vd-sm{
    object-fit: contain;
    width: 100%;
    height: auto;
}