*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  margin: 0;
  display: flex;
  justify-content: flex-end;
  background: var(--background);
}

:root {
  --bar-width: 60px;
  --bar-height: 8px;
  --hamburger-gap: 6px;
  --foreground: #ffffff;
  --background: #000000;
  --hamburger-margin: 8px;
  --animation-timing: 200ms ease-in-out;
  --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
}

.hamburger-menu {
  --x-width: calc(var(--hamburger-height) * 1.41421356);

  display: flex;
  flex-direction: column;
  gap: var(--hamburger-gap);
  width: max-content;
  position: absolute;
  top: var(--hamburger-margin);
  right: var(--hamburger-margin);
  z-index: 2;
  cursor: pointer;
}

.hamburger-menu .top-bun,
.hamburger-menu .bottom-bun,
.hamburger-menu input {
  content: "";
  width: var(--bar-width);
  height: var(--bar-height);
  background-color: var(--foreground);
  border-radius: 9999px;
  transform-origin: left center;
  transition: opacity var(--animation-timing), width var(--animation-timing);
}

.hamburger-menu input {
  appearance: none;
  padding: 0;
  margin: 0;
  outline: none;
  pointer-events: none;
}
/* .hamburger-menu:has(input:checked) {
  --foreground: #ffffff;
  --background: #000000;
} */

.hamburger-menu:has(input:checked) .top-bun {
  transform: rotate(45deg);
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / -2);
}

.hamburger-menu:has(input:checked) .bottom-bun {
  transform: rotate(-45deg);
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / 2);
}

.hamburger-menu input:checked {
  opacity: 0;
  width: 0;
}

.sidebar {
  transition: translate var(--animation-timing);
  translate: 100%;
  padding: 0.5rem 1rem;
  padding-top: 5rem;
  background-color: var(--background);
  max-width: 10rem;
  min-height: 100vh;
}
.hamburger-menu:has(input:checked) + .sidebar {
  translate: 0;
}
.sidebar a {
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: var(--foreground);
}
