html{
    font-size: 16 px;  
} 
:root{
    /*sizes*/
--standard-size-sm: 1.125rem;
--standard-size-md: 1.25rem;
--standard-size-lg: 3.4375rem;

    /*colori*/
--standard-trasparent: #00000000;
--standard-black:#000000;
--standard-white: #ffffff;
--standard-blue-dark: #02090a;
--standard-gray-light: #9797a2;
--standard-water-green-dark: #041e18;

    /*card*/
--card-color-1: linear-gradient(to top, #061518 20%, #0a2c30);
--card-color-2: #061A1C;

    /*buttons*/
--button-bg-act:#A1A1AA;
--button-second-hv:#D4D4D8;
--button-third-hv:#FFFFFF26;

--button-pad: 0.75rem 1.5rem;
--button-rad: 624.9375rem;
    
--button-tran: all 0.15s ease;    
}

body{
    background-color: var(--standard-blue-dark);
    height: 100%;
    font-family:'MyCustomFont', Helvetica, Arial, sans-serif;
    margin: 0;
}

@font-face {
    font-family: 'MyCustomFont';
    src: url('./Fonts/NHaasGroteskTXPro-55Rg.otf');
    src: url('./Fonts/NHaasGroteskTXPro-55Rg.ttf');
}

/*queries*/
@media (min-width: 0rem) and (max-width: 39.9375rem){ /*0 to 639px*/
    .container-pad{
        padding: 2.5rem 0;
    }
    .container-margin{
        margin: 0 1rem;
    }
}

@media (min-width: 40rem) and (max-width: 56.1875rem){ /*640 to 899px*/
    .container-pad{
        padding: 2.5rem 0;
    }
    .container-margin{
        margin: 0 1.875rem;
    }
}

@media (min-width: 56.25rem){ /*900px*/
    .container-pad{
        padding: 4rem 0;
    }
    .container-margin{
        margin: 0 3.125rem;   
    }
}
/*...*/

    /*Cards*/
.card{
    display: flex;
    background: var(--card-color-1);
    border-radius: 0.75rem;
}

.card2{
    background-color: var(--card-color-2);
    display: flex;
    border-radius: 0.75rem;
}
    /*End Cards*/

    /*Buttons*/
button{
    all: unset;
}
.button-first{
    display: block;
    background-color: var(--standard-trasparent);
    padding: var(--button-pad);
    cursor: pointer;    
    
    border-radius: var(--button-rad);
    border: solid var(--standard-white);
    
    color: var(--standard-white);
    font-size: var(--standard-size-sm);
    font-weight: 550;
    
    transition: var(--button-tran);
}

.button-first:hover{
    background-color: var(--standard-white);
    border: solid var(--standard-white);
    color: var(--standard-black);
    transition: var(--button-tran);
}

.button-first:active {
    background-color: var(--button-bg-act);
    border: solid var(--button-bg-act);
}


.button-second{
    display: block;
    background-color: var(--standard-white);
    padding: var(--button-pad);
    cursor: pointer;    
    
    border-radius: var(--button-rad);
    border:solid var(--standard-white);
    
    color: var(--standard-black);
    font-size: var(--standard-size-sm);
    font-weight: 550;
    
    transition: var(--button-tran);
}

.button-second:hover{
    background-color: var(--button-second-hv);
    border: solid var(--button-second-hv);
    transition: all var(--tran);
    transition: all var(--button-tran);
}
.button-second:active {
    background-color: var(--button-bg-act);
    border: solid var(--button-bg-act);
}

.button-third{
    display: block;
    background-color: var(--standard-trasparent);
    padding: var(--button-pad);
    cursor: pointer;    
    
    border-radius: var(--button-rad);
    border: solid var(--standard-trasparent);
    
    color: var(--standard-white);
    font-size: var(--standard-size-sm);
    font-weight: 550;
    
    transition: var(--button-tran);
}

.button-third:hover{
    background-color: var(--button-third-hv);
}
    /*End Buttons*/